@tailwind components;
@tailwind utilities;

@import "./reset.scss";

:root {
	--foreground-rgb: #202020;
	--background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	// :root {
	// 	--foreground-rgb: 255, 255, 255;
	// 	--background-rgb: 0, 0, 0;
	// }
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: var(--foreground-rgb);
	background: rgb(var(--background-rgb));
	@apply min-h-screen max-h-screen flex flex-col;
}

@layer components {
	.limit-width {
		max-width: 1536px;
	}

	.scroll-y-style::-webkit-scrollbar {
		height: 100%;
		width: 4px;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-y-style::-webkit-scrollbar-thumb {
		background: #0002;
		-webkit-border-radius: 1ex;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar {
		height: 4px;
		width: 100%;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar-thumb {
		background: #0004;
		-webkit-border-radius: 1ex;
		@apply rounded-full;
	}
}
